#register-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #F24141;
	text-transform: uppercase;
	letter-spacing: 0.12cm;
	padding: 20px;
	-webkit-box-shadow: -6px 0px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -6px 0px 25px 0px rgba(0,0,0,0.75);
	box-shadow: -6px 0px 25px 0px rgba(0,0,0,0.75);
}

.twoBtnDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 30% !important;
}

@media only screen and (max-width: 600px) {
	#submit {
		height: 50px !important;
		width: 250px !important;
	}
	
	#register-right > div > div {
		grid-template-columns: 1fr;
	}
}

label {
	color: white;
	font-size: 1em;
	font-weight: 300;
	margin-left: 5px;
}

#ui_login, #ui_register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	text-align: center;
}

.MuiAlert-filledError {
	flex-direction: row !important;
}
